*{
    color: whitesmoke;
}

#title-button{
    max-width: 400px;
    max-height: 50px;
    bottom: -40vh;
    left: -25vh;
}

.titlecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-imgbtn{
    justify-content: center;
}

#title-hero{
    bottom: -10vh;
    color: yellow;
}

.cave-bg1{
    background-image:url("../Images/Backgrounds/well-lit-room.png");
    background-size: cover;
}

.forest-bg{
    background-image:url("../Images/Backgrounds/landing-page-1.png");
    background-size: cover;
}
 
.yellowtext{
    color: yellow;
}

.greentext{
    color:#31CB00;
}

.blacktext{
    color: black;
}
.heroCompare {
    cursor: move;
    max-width: 8vh;
}

/* Code below is not needed - saved for potential future work */

/* .owlbearpre {
    transform: rotate(-90deg);
    position: relative;
    animation: myfirst 5s ease-in-out;
} */
/* @keyframes myfirst {
    from  {left:-60vh}
    to {left:0px}
}

.heroIMGOTpre{
   transform: rotate(90deg); 
   left: 50vh;
   position: relative;
   animation: mysecond 5s ease-in-out;
}
@keyframes mysecond {
    from  {left:-400px}
    to {left:500px}
} */

/* #continueBtnPre {
    left: 90rem;
} */

/* .hero-location-battle{
    top: 30vh;
    position: relative;
   animation: mythird 2s ease-in-out, shake 2s;
}
@keyframes mythird {
    from  {left:0px}
    to {left:650px; up:-50px}
}
.enemy-location-battle{
    position: relative;
   animation: myfourth 2s ease-in-out, shake 2s;
}
@keyframes myfourth {
    from  {right:0px}
    to {right:650px; up:50px}
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.enemyIMGbattle{
    max-width: 300px;
    max-height: 300px;
} */
/* .title-bg{
    background-image:url("./Assets/Images/Backgrounds/title-page.png");
    background-size: cover;
    
} */

/* .character-select-container {
    display: none;
}

.pre-story {
    display: none;
}

.main-game {
    display: none;
}

.fight-scene {
    display: none;
} */

